@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
$font-family: 'Roboto Slab', serif;
$body-bg: #f9f7f7;
$primary: #3f72af;
$secondary: #dbe2ef;
$danger: #f9f7f7;
$success: #3f72af;
$warning: #3f72af;
$info: #17A2B8;
$light: #f9f7f7;
$dark: #112d4e;
$white: #FFFFFF;
$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;
$colors: (
"blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray,
"gray-dark": $gray-dark
)
!default;
.app {
  font-family: Roboto Slab, serif;
}